body{
    background-color:#d9e1e5;
}

/*---Caruousel---*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

/*---Slut carousel---*/

/*---Meny---*/
.högerJustera{
    float: right;
}
.meny{
    border-radius: 10px;
    margin: 2px 2px 2px 0;
}
#vänster{
    float: left;
}
.clear{
    clear: right;
}
/*---Slut meny---*/

/*---Wrapper & Side-wrapper---*/
.wrapper{
    width: 70%;
    margin-top: 60px;
    margin-left: 5%;
    border: solid #bec5c9 2px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;    
    float: left;
    box-shadow: 10px 10px 5px #888888;
}
.side-wrapper{
    float: right;
    margin-right: 1%;
    margin-top: 60px;
    width: 22%;
}
.side-wrapper img{
    width: 100%;
}
.side-wrapper p{
    font-style: italic;
}
#formelImg{
    padding: 1%;
}
#kursiv{
    font-style: italic;
}
iframe{
    
}
/*---Slut wrapper & Side-wrapper---*/
